body{background-image: url("file:///C:/Users/user/Desktop/HTML&GIT/yubin-website/5735864_170x100.gif");
     background-repeat: repeat;
     background-cover: cover;
    }
body{text-align: center;
    }
body{font-color:white;
   font-family: 'Gaegu', cursive;
}